
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/UILayout/Index.cshtml";
}

<!--  Feature Section -->
@Html.Action("DefaultFeature")
<!-- /Hero Section -->
<!-- About Section -->
@Html.Action("DefaultAbout")
<!-- /About Section -->
<!-- Service Section -->
@Html.Action("DefaultService")
<!-- /Why Us Section -->
<!-- Stats Section -->
<section id="stats" class="stats section dark-background">

    <img src="assets/img/stats-bg.jpg" alt="" data-aos="fade-in">

    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

            <div class="col-lg-3 col-md-6">
                <div class="stats-item text-center w-100 h-100">
                    <span data-purecounter-start="0" data-purecounter-end="1000" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Müşteri</p>
                </div>
            </div><!-- End Stats Item -->

            <div class="col-lg-3 col-md-6">
                <div class="stats-item text-center w-100 h-100">
                    <span data-purecounter-start="0" data-purecounter-end="20" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Şube</p>
                </div>
            </div><!-- End Stats Item -->

            <div class="col-lg-3 col-md-6">
                <div class="stats-item text-center w-100 h-100">
                    <span data-purecounter-start="0" data-purecounter-end="150" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Tarif</p>
                </div>
            </div><!-- End Stats Item -->

            <div class="col-lg-3 col-md-6">
                <div class="stats-item text-center w-100 h-100">
                    <span data-purecounter-start="0" data-purecounter-end="400" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Çalışan</p>
                </div>
            </div><!-- End Stats Item -->

        </div>

    </div>

</section><!-- /Stats Section -->
<!-- Product Section -->
@Html.Action("DefaultProduct")<!-- /Menu Section -->
<!-- Testimonials Section -->
@Html.Action("DefaultTestimonial")<!-- /Testimonials Section -->
<!-- Events Section -->
@Html.Action("DefaultEvent")<!-- /Events Section -->
<!-- Chefs Section -->
@Html.Action("DefaultChef")<!-- /Chefs Section -->
<!-- Booking Section -->
@Html.Action("DefaultBooking")<!-- /Book A Table Section -->
<!-- Photo Gallery Section -->
@Html.Action("DefaultPhotoGallery")
<!-- /Gallery Section -->
<!-- Contact Section -->
@Html.Action("DefaultContact")<!-- /Contact Section -->
