@model YummyProject.Models.About
@{
    ViewBag.Title = "AddAbout";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
<br />
<h2>Yeni Hakkımda Alanı Ekle</h2>
<br />

<form method="post" enctype="multipart/form-data" class="form-control">

    <label><strong>1. Resim Seçiniz</strong></label>
    <input type="file" name="ImageFile" class="form-control" />
    <br />

    <label><strong>2. Resim Seçiniz</strong></label>
    <input type="file" name="ImageFile2" class="form-control" />
    <br />

    <label><strong>Cümle 1</strong></label>
    @Html.TextBoxFor(x => x.Item1, new { @class = "form-control" })
    <br />

    <label><strong>Cümle 2</strong></label>
    @Html.TextBoxFor(x => x.Item2, new { @class = "form-control" })
    <br />

    <label><strong>Cümle 3</strong></label>
    @Html.TextBoxFor(x => x.Item3, new { @class = "form-control" })
    <br />

    <label><strong>Açıklama</strong></label>
    @Html.TextAreaFor(x => x.Description, 3, 1, new { @class = "form-control" })
    <br />

    <label><strong>Video</strong></label>
    @Html.TextBoxFor(x => x.VideoUrl, new { @class = "form-control" })
    <br />

    <label><strong>Telefon No : </strong></label>
    @Html.TextBoxFor(x => x.PhoneNumber, new { @class = "form-control" })
    <br />

    <div class="text-center">
        <button class="btn btn-success">Kaydet</button>
    </div>
</form>
