@model YummyProject.Models.About
@{
    ViewBag.Title = "UpdateAbout";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<br />
<h2>Hakkımda Güncelleme</h2>
<br />

<form method="post" enctype="multipart/form-data" class="form-control">

    @Html.HiddenFor(x => x.AboutId)

    <label><strong>Mevcut Resim 1</strong></label>
    <div class="text-center">
        <br />
        <img src="@Model.ImageUrl" style="width:400px;height:300px" />
        <br />
    </div>
    <br />

    <label><strong>Yeni 1. Resim Seçiniz</strong></label>
    <div class="text-center">
        <br />
        <input type="file" name="ImageFile" class="form-control" />
        <br />
    </div>
    <br />

    <label><strong>Mevcut Resim 2</strong></label>
    <div class="text-center">
        <br />
        <img src="@Model.ImageUrl2" style="width:400px;height:300px" />
        <br />
    </div>
    <br />

    <label><strong>Yeni 2. Resim Seçiniz</strong></label>
    <div class="text-center">
        <br />
        <input type="file" name="ImageFile2" class="form-control" />
        <br />
    </div>
    <br />

    <label><strong>Cümle 1</strong></label>
    @Html.TextBoxFor(x => x.Item1, new { @class = "form-control" })
    <br />

    <label><strong>Cümle 2</strong></label>
    @Html.TextBoxFor(x => x.Item2, new { @class = "form-control" })
    <br />

    <label><strong>Cümle 3</strong></label>
    @Html.TextBoxFor(x => x.Item3, new { @class = "form-control" })
    <br />

    <label><strong>Açıklama</strong></label>
    @Html.TextAreaFor(x => x.Description, 3, 1, new { @class = "form-control" })
    <br />

    <label><strong>Video</strong></label>
    @Html.TextBoxFor(x => x.VideoUrl, new { @class = "form-control" })
    <br />

    <label><strong>Telefon No : </strong></label>
    @Html.TextBoxFor(x => x.PhoneNumber, new { @class = "form-control" })
    <br />

    <div class="text-center">
        <button class="btn btn-success">Kaydet</button>
    </div>
</form>

