@model YummyProject.Models.Chef
@{
    ViewBag.Title = "AddChef";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<br />
<h2>Şef Bilgileri Ekleme Sayfası</h2>
<br />

<form method="post" class="form-control">

    <label><strong>Resim Link</strong></label>
    @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
    <br />
    <label><strong>Ad Soyad</strong></label>
    @Html.TextBoxFor(x => x.NameSurname, new { @class = "form-control" })
    <br />
    <label><strong>Ünvan</strong></label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />
    <label><strong>Tanım</strong></label>
    @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
    <br />
    <label><strong>Sosyal Medya</strong></label>
    @Html.TextBoxFor(x => x.ChefSocials, new { @class = "form-control" })
    <br />
    <div class="text-center">
        <button class="btn btn-warning">Kaydet</button>
    </div>
    <br />

</form>

